.fondo{
background-color: #E7D034;
}
.parrafo{
text-align: center;
font-size: 16px;
color:black
}
.parrafo2{
text-align: center;
font-size: 34px;
color: black;
}
.parrafo3{
text-align: justify;
color: black;
}
.parrafo4{
text-align: justify;
font-size: 24px;
color: black;
}
.parrafo5{
text-align: justify;
font-size: 26px;
color: black;
}